body {
    display: flex;
    padding-top: 270px;
    align-items: center;
    justify-content: center;
    background-image: url(assets/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(238, 175, 238);
}

main {
    width: 25%;
    height: 50%;
    border-radius: 20px;
    background-color: rgb(240, 237, 237);
    box-shadow: 0px 5px 15px 5px rgba(0,0,0, 0.2);
}

#heading {
    display: inline;
    margin-left: 23%;
    font-size: 50px
}

#icon-image1 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    float: left;
    width: 50px;
    display: inline;
}

#icon-image2 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 3%;
    float: right;
    width: 50px;
    display: inline;
}

.accordion {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
    color: purple;
    overflow: hidden;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.panel {
    display: none;
    overflow: hidden;
    padding-left: 20px;
    color: rgb(75, 71, 71);
}

.active, .accordion:hover {
    background-color: lightgray;
    cursor: pointer;
}

.accordion::after {
    content: url(assets/icon-plus.svg);
    float: right;
}

.active::after {
    content: url(assets/icon-minus.svg);
    float: right;
}

.accordion:last-of-type, .panel:last-of-type {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}
